# main/Kconfig.projbuild

menu "Terracotta Network Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "yourWifiSSID"
        
    config WIFI_PASSWORD
        string "WiFi Password"
        default "supersecretpassword"

    config WIFI_HOSTNAME
        string "Device Hostname"
        default "yourdevicehostname"
        help
            The name this device will broadcast to the router (DHCP client name).
endmenu

menu "Terracotta MQTT Configuration"
    config MQTT_BROKER_URI
        string "MQTT Broker URI"
        default "mqtt://192.168.178.2:1883"
        help
            The full URI to your MQTT broker (e.g., mqtt://IP_ADDRESS:PORT).

endmenu

menu "Terrarium Configuration"

    choice TERRARIUM_TARGET
        prompt "Select Target Terrarium"
        default TEST_TERRARIUM
        help
            Select which terrarium this firmware is being built for. This will determine which app_logic and sys_config files are used.

        config TERRARIUM_TEST
            bool "Terrarium Test"
        
        config TERRARIUM_CRAWL_CAY
            bool "Terrarium Crawl Cay"
    endchoice

endmenu