# --- Target Chip ---
CONFIG_IDF_TARGET="esp32c6"

# --- Partition Table Settings ---
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# --- Flash Storage (16MB Boya Upgrade) ---
CONFIG_SPI_FLASH_SUPPORT_BOYA_CHIP=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# --- System Time Logging ---
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y

# --- OTA ---
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y